extends layout

block content
    h1= title
    p Welcome to #{title}

    ul
        li
            a(href="/users") Data change demo
        li
            a(href="/upload.html") File upload demo
        li
            a(href="/iphone.html") iPhone camera demo
        li
            a(href="/coffee") Coffeescript demo
        li
            a(href="/cross/") Cross-process demo
        li
            a(href="/gist/") Gist demo
